@tailwind base;
@tailwind components;
@tailwind utilities;

.cormorant-upright-light {
    font-family: "Cormorant Upright", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .cormorant-upright-regular {
    font-family: "Cormorant Upright", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .cormorant-upright-medium {
    font-family: "Cormorant Upright", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .cormorant-upright-semibold {
    font-family: "Cormorant Upright", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .cormorant-upright-bold {
    font-family: "Cormorant Upright", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  @layer utilities {
    .word-spacing-wider {
      word-spacing: 0.25em;
    }
    .word-spacing-widest {
      word-spacing: 0.5em;
    }
    .word-spacing-custom {
      word-spacing: 1em;
    }
  }